
.grille{
	@include flex(flex-start, center, row);
	flex-wrap: wrap;
	margin: rem(20px) 0;
	.pave{
		height: rem(180px);
		width: rem(180px);
		padding: rem(10px);
		margin: rem(10px);
		border: 1px solid $main_color;
		background-color: $main_color;
		position: relative;
		@include flex(center, center, row);
		.num{
			display: none;
			height: rem(33px);
			width: rem(33px);
			border-radius: 50%;
			font-weight: 700;
			text-align: center;
			line-height: rem(30px);
			font-size: rem(20px);
			@include position(absolute, rem(-14px), initial, initial, rem(28px));
		}
		.text{
			color: $white;
			font-size: rem(16px);
			text-align: center;

		}
	}

	&.carre{
		.pave{
			.num{
				display: none;
			} 
		}
	}


	&.rond{
		.pave{
			background-color: $white;
			border-radius: 50%;
			margin: rem(18px) rem(10px);
			.text{
				color: $text_color;
				font-size: rem(14px);
			}

			.num{
				background-color: $main_color;
				display: block;
				color: $white;
			}
		}
	}

}