
.main-navigation{
	z-index: 100;
	color: $white;
	display: none;
	position: relative;
	@include position(absolute, rem(77px), initial, initial, 0);
	.menu-menu-1-container{
		background-color: $main_color;
			padding: rem(10px) rem(30px) rem(20px);
		ul{
			width: rem(320px);
			margin: 0;
			padding: 0 rem(30px);
			list-style-type: none;
			z-index: 999;
			li{
				a{
					color: $white;
					text-transform: uppercase;
					padding: rem(20px) 0;
					display: block;
					font-weight: 500;
					font-size: rem(18px);
				}
				&.current_page_item{
					a{
						font-size: rem(30px);
						font-weight: 700;
					}
				}
				ul{
			z-index: 999;
					background-color: $dark_color;
					@include position(absolute, 0, initial, 0, rem(320px));
				}
			}
		}
	}
}

#menu_burger{
	&.menu_icon {
		width: rem(77px);
		height: rem(77px);
		overflow: hidden;   
		cursor: pointer; 
		padding: rem(20px) rem(10px);
		position: relative;
		background-color: $main_color;
		span {

			@include transition(all, .3s, ease-in-out);
			display: block;
			width: 100%; 
			height: rem(6px); 
			background: $white;;

			&.menu_1 {    margin-top: rem(0px);}
			&.menu_2 {    margin-top: rem(9px);}
			&.menu_3 {    margin-top: rem(9px);}

		}
		&.open{
			span{
				&.menu_1 { 	transform: translateX(0px) translateY(15px) rotate(45deg);}
				&.menu_2 {	display: none;}
				&.menu_3{ 	transform: translateX(-2px) translateY(0px) rotate(-45deg);}
			}
		}
		@include media("<md"){
			display: block;
		}
	}	
}





